.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}
.generalCard {
  display: flex;
  align-items: center;
  width: 370px;
  padding: 19px 24px;
  max-height: 72px;
  justify-content: space-between;
}
.generalCardBtn {
  border: 0;
  background-color: transparent;
}
