.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1200;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
