.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 320px;
  position: fixed;
  background-color: white;
  z-index: 1;
}
.logo {
  height: 80px;
  background-color: var(--logo-bg-color);
  width: 100%;
}
.user {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;
  padding-left: 25px;
  padding-bottom: 40px;
}
