.tutorList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 24px;
}

.tutorItem {
  display: flex;

  gap: 24px;
  padding: 24px;
}

.tutorClm {
  display: flex;
  flex-direction: column;
}

.tutorClm > span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tutorClm .tutorIcon {
  width: 15px;
  height: 15px;
}
