.formWrapper {
  padding: 24px;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.formTitle {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #424242;
}
.formInput {
  width: 100%;
  max-width: 488px;
  padding: 12px 16px;
  border: 1px solid #757575;
}
.tutorBtn {
  display: block;
  max-width: 147px;
  line-height: 1.71;
}
.tutorBtn > img {
  display: none;
}
.tutorBtn:disabled {
  background-color: #fde0b2;
}
